<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOJA DE ROUPAS FATEC</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/nav-template.css">
    <link rel="stylesheet" href="../css/footer-template.css">
    <link rel="stylesheet" href="../css/aside-template.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../img/icon_home.png" alt="Logo">
            </div>
            <ul class="nav-links">
                <li><a href="#" id="link-inicial">INÍCIO</a></li>
                <li><a href="#" id="link-produtos">PRODUTOS</a></li>
                <li><a href="#" id="link-carrinho">CARRINHO</a></li>
            </ul>
            <div class="search">
                <form action="#" method="get">
                    <div class="group">
                        <input type="text" name="search" id="search" class="input" placeholder="Pesquisar...">
                        <button type="submit" class="btn-primary">Pesquisar</button>
                    </div>
                </form>
            </div>
        </nav>
    </header>
    
    <main id="main-content">

    </main>

    <aside id="carrinho-sidebar" class="sidebar">

    </aside>

    <footer>
        <div class="foot">
            <ul>
                <li><a href="#">Sobre Nós</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </div>
        <div class="svg-redes">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="foot-contac">
            <p>Endereço: Rua Exemplo, 123 - São Paulo, SP</p>
            <p>Telefone: (11) 1234-5678</p>
            <p>Email: contato@lojaderoupasfatec.com.br</p>
        </div>
        <div class="end">
            <p>&copy; 2024 Loja de Roupas Fatec. Todos os direitos reservados.</p>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/scripts.js"></script>
</body>
</html>
